button {
    cursor: pointer;
}
html,


body {
    height: 100%;
    width: 100%;
    color: #666;
    line-height: 19px;
    font-size: 15px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #f0f2f5;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}

ul li {
    list-style: none;
}

a{
    color: #666;
    text-decoration: none;
}

.app-wrapper-content{
    display: flex;
}

.content{

}





/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
